body
{
	
}
.traithongtin,.phaithongtin
{
	background: white;
	height: 500px;
}
.phaithongtin
{
	margin-left: 10px;
	padding: 0 20px;
	height: 500px;
}
.tt,.tt1
{
	color: black;
}
@media only screen and (max-width: 1024px)
{
	.tt
	{
		font-size: 10px;
	}
	.tt1
	{
		font-size: 13px;
	}
}
.chitiet
{
	padding-top: 20px;
}
.cachTop
{
	margin-top: 80px;
}